{% extends 'base.html' %}

{% load contact %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert{% if message.tags %}-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
    
<div class="btn-group" role="group" aria-label="Contact Nav">
    <a class="btn btn-secondary" href="{% url 'contact_v1' %}">V1</a>
    <a class="btn btn-secondary" href="{% url 'contact_v2' %}">V2</a>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <h1>Contact</h1>
        <h3>{{ 'Gabriel' | greet }}</h3>
        <h3>{% greet_me %}</h3>
        <h3>{% greet_another 'Gabriel' %}</h3>
        {% last_contact %}
        <form action="{% url 'contact' %}" method="post" novalidate enctype="multipart/form-data">
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.subject.errors }}
                <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
                {{ form.subject }}
            </div>
            <div class="form-group">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.message.errors }}
                <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                {{ form.message }}
            </div>
            <div class="form-group">
                {{ form.attachement.errors }}
                <label for="{{ form.attachement.id_for_label }}">{{ form.attachement.label }}</label>
                {{ form.attachement }}
            </div>
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}